/* CSS für die API */
#tabelid{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100px;
}

#map {
    bottom: 0;
    display: block;
    position: center;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;

}

@media (max-width: 1200px) {
    #map {
        margin-left: auto;
        margin-right: auto;
        height: 450px;
        width: 900px;
    }
    #tabelid{
        margin-left: auto;
        margin-right: auto;
        height: 90px;
        width: 900px;
    }
}

@media (max-width: 990px) {
    #map {
        margin-left: auto;
        margin-right: auto;
        height: 360px;
        width: 720px;
    }
    #tabelid {
        margin-left: auto;
        margin-right: auto;
        height: 72px;
        width: 720px;
    }
}
@media (max-width: 770px) {
    #map {
        margin-left: auto;
        margin-right: auto;
        height: 270px;
        width: 540px;
    }
    #tabelid {
        margin-left: auto;
        margin-right: auto;
        height: 27px;
        width: 540px;
    }
}
@media (max-width: 500px) {
    #map {
        margin-left: auto;
        margin-right: auto;
        height: 225px;
        width: 450px;
    }
    #tabelid {
        margin-left: auto;
        margin-right: auto;
        height: 22px;
        width: 450px;
    }
}


.marker {
    background-image: url('../img/iss.png');
    background-size: cover;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.marker2 {
    background-image: url('../img/NOAA-19.png');
    background-size: cover;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.marker3 {
    background-image: url('../img/INTEGRAL.png');
    background-size: cover;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}